* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(78, 75, 75);
    background: linear-gradient(
        to right,
        #1d2b64,
        #f8cdda
    );
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    width: 70%;
    margin: 1rem auto;
    border-radius: 5px;
    background: #e0eafc; /* fallback for old browsers */
    background: linear-gradient(
        to right,
        #cfdef3,
        #e0eafc
    );
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #9F8BAA;
    padding: 1rem;
    border-radius: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px dotted #383F72;
    padding: 0.5rem 2rem;
    text-align: center;
    margin: 0.2rem;
}

.grid-item:nth-child(2n + 1) {font-weight: bold;}

.grid-item img {
    width: 35px;
}

.map {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.map .city {
    opacity: 0.8;
    color: #1d2b64;
    background-color: #aaa;
    border: 1px solid #1d2b64;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-weight: bold;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    margin: 10% auto;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #007398;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}
